.root {
  display: block;
  overflow: hidden;

  &:hover,
  &:focus {
    opacity: 0.5
  }

  &:active {
    opacity: 0.2
  }
}

.image {
  position: relative;
  display: block;
  top: 0px;
  cursor: pointer;
}

.creditLine {
  font-size: smaller;
  position: relative;
  display: block;
  width: 100%;
  height: 1rem;
  background-color: rgba(0,0,0,.5);
  bottom: 1.4rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.creditLineLink {
  color: white;
  text-decoration: none;
  cursor: pointer;
}